[submodule "rpc/mayastor-api"]
	path = rpc/mayastor-api
	url = https://github.com/openebs/mayastor-api.git
[submodule "utils/mayastor-dependencies"]
	path = utils/mayastor-dependencies
	url = https://github.com/openebs/mayastor-dependencies.git
