**/*.terraform*
**/*.tfstate*
**/rust-tags.*
**/target
/.idea
/default.etcd/
/node_modules/
/package-lock.json
/package.json
/result*
/kubectl-plugin
__pycache__
/tests/bdd/openapi/
/chart/charts/
/chart/Chart.lock
/openapi/*
!/openapi/Cargo.toml
!/openapi/build.rs
/tests/bdd/autogen/
/terraform/cluster/ansible-hosts
/terraform/cluster/current_user.txt
/rust-toolchain.toml
