[submodule "utils/dependencies"]
	path = utils/dependencies
	url = https://github.com/openebs/mayastor-dependencies.git
	branch = release/2.4
[submodule "rpc/api"]
	path = rpc/api
	url = https://github.com/openebs/mayastor-api.git
	branch = release/2.4
