[package]
name = "deployer"
version = "0.1.0"
authors = ["Tiago Castro <tiago.castro@mayadata.io>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "deployer"
path = "bin/src/deployer.rs"

[lib]
name = "deployer_lib"
path = "src/lib.rs"

[dependencies]
composer = { git = "https://github.com/mayadata-io/composer", branch = "develop" }
common-lib = { path = "../common" }
structopt = "0.3.23"
tokio = { version = "1.12.0", features = ["full"] }
tonic = "0.5.2"
async-trait = "0.1.51"
rpc = { path = "../rpc"}
strum = "0.21.0"
strum_macros = "0.21.1"
paste = "1.0.5"
serde_json = "1.0.68"
humantime = "2.1.0"
once_cell = "1.8.0"
reqwest = { version = "0.11.4", features = ["multipart"] }
futures = "0.3.17"
tracing = "0.1.28"
tracing-subscriber = "0.2.24"
tower = { version = "0.4" }
