[package]
name = "deployer"
version = "0.1.0"
authors = ["Tiago Castro <tiago.castro@mayadata.io>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "deployer"
path = "bin/src/deployer.rs"

[lib]
name = "deployer_lib"
path = "src/lib.rs"

[dependencies]
composer = { path = "../composer" }
common-lib = { path = "../common" }
nats = "0.15.1"
structopt = "0.3.23"
tokio = { version = "1.11.0", features = ["full"] }
async-trait = "0.1.51"
rpc = { path = "../rpc"}
strum = "0.21.0"
strum_macros = "0.21.1"
paste = "1.0.5"
serde_json = "1.0.67"
humantime = "2.1.0"
once_cell = "1.8.0"
reqwest = { version = "0.11.4", features = ["multipart"] }
futures = "0.3.17"
tracing = "0.1.26"
tracing-subscriber = "0.2.20"
