#[macro_use]
extern crate serde_derive;

extern crate serde;
extern crate serde_json;
extern crate url;

pub mod apis;
pub mod models;
pub mod clients;

#[cfg(feature = "tower-hyper")]
pub mod tower {
    pub use crate::clients::tower as client;
}

#[cfg(feature = "actix")]
pub mod actix {
    #[cfg(feature = "actix-server")]
    pub use crate::apis::actix_server as server;
}

impl std::fmt::Debug for models::RestJsonError {
    fn fmt(&self, f: &mut std::fmt::Formatter<'_>) -> std::fmt::Result {
        f.debug_struct("RestJsonError")
            .field("details", &self.details)
            .field("message", &self.message)
            .field("kind", &self.kind)
            .finish()
    }
}
