[package]
name = "utils"
version = "0.1.0"
edition = "2018"

[dependencies]
git-version = "0.3.5"
tracing = "0.1.35"
tracing-subscriber = { version = "0.3.15", features = [ "env-filter" ] }
tracing-opentelemetry = "0.17.4"
opentelemetry = { version = "0.17.0", features = ["rt-tokio-current-thread"] }
opentelemetry-jaeger = { version = "0.16.0", features = ["rt-tokio-current-thread"] }
version-info = { path = "../dependencies/version-info" }
